<section
  class='color-{{ section.settings.color_scheme }}'
  style='padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;'
>
  <div class='twcss-grid-system twcss-gap-y-10 twcss-my-[50px]'>
    <div class='twcss-col-span-full twcss-flex twcss-flex-col twcss-justify-around md:twcss-col-span-2 lg:twcss-col-span-3 empty:twcss-block'>
      {%- for block in section.blocks -%}
        {%- if forloop.index <= 2 -%}
          <div class='twcss-flex twcss-flex-col twcss-items-center md:twcss-items-end twcss-mb-[65px]'>
            {% if block.settings.image %}
              <img
                class='twcss-w-12'
                src='{{ block.settings.image | image_url }}'
                alt=''
                width='auto'
                height='auto'
                loading='lazy'
              >
            {% endif %}
            <h4
              class='rich-text__heading rte twcss-w-full inline-richtext twcss-mb-[10px] twcss-text-center md:twcss-text-end {{ block.settings.heading_size }}'
              {{ block.shopify_attributes }}
            >
              {{ block.settings.title }}
            </h4>
            <div
              class='rich-text__text rte twcss-text-center md:twcss-text-end'
              {{ block.shopify_attributes }}
            >
              {{ block.settings.descripcion }}
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class='twcss-col-span-full twcss-m-auto md:twcss-col-span-4 lg:twcss-col-span-6'>
      {% if section.settings.backogrund %}
        <img
          src='{{ section.settings.backogrund | image_url }}'
          class='twcss-object-cover twcss-max-h-[700px]'
          width='auto'
          height='auto'
          loading='lazy'
        >
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'twcss-h-full twcss-w-full' }}
      {% endif %}
    </div>

    <div class='twcss-col-span-full twcss-flex twcss-flex-col twcss-justify-around md:twcss-col-span-2 lg:twcss-col-span-3 empty:twcss-block'>
      {%- for block in section.blocks -%}
        {%- if forloop.index >= 3 -%}
          <div class='twcss-flex twcss-flex-col twcss-items-center md:twcss-items-start twcss-mb-[65px]'>
            {% if block.settings.image %}
              <img
                class='twcss-w-12'
                src='{{ block.settings.image | image_url }}'
                alt=''
                width='auto'
                height='auto'
                loading='lazy'
              >
            {% endif %}

            <h4
              class='rich-text__heading rte twcss-w-full inline-richtext twcss-mb-[10px] twcss-text-center md:twcss-text-left {{ block.settings.heading_size }}'
              {{ block.shopify_attributes }}
            >
              {{ block.settings.title }}
            </h4>
            <div
              class='rich-text__text rte twcss-text-center md:twcss-text-left'
              {{ block.shopify_attributes }}
            >
              {{ block.settings.descripcion }}
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Texts with image center",
  "tag": "section",
  "class": "section",
  "max_blocks": 4,
  "settings": [
    {
      "type": "image_picker",
      "id": "backogrund",
      "label": "Background"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "list_element",
      "name": "List",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Title text"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "Title size"
        },
        {
          "type": "richtext",
          "id": "descripcion",
          "label": "descripcion",
          "default": "<p>Descripcion text</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Texts with image center",
      "blocks": [
        {
          "type": "list_element"
        },
        {
          "type": "list_element"
        },
        {
          "type": "list_element"
        },
        {
          "type": "list_element"
        }
      ]
    }
  ]
}
{% endschema %}
